Repository lkubb/dooti: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-merge-conflict
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: "\\.(py)$"
        args: [--settings-path=pyproject.toml]
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: >
            (?x)^(
                docs/.*|
            )$
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  - repo: local
    hooks:
      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        types: [rst]
        args: [--config=pyproject.toml]
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.6.7
    hooks:
      - id: sphinx-lint

Update docs
  README.rst
  docs/api.rst
  docs/history.rst
  docs/index.rst
  docs/usage.rst
  dooti/__init__.py
Due: pylint, rstcheck

Bump version
  HISTORY.rst
  dooti/__init__.py
  pyproject.toml
Due: pylint, rstcheck

Continue state application when app is absent
  dooti/cli.py
Due: pylint

Apply bandaid for thread crashing
  dooti/cli.py
Due: pylint

Drop poetry, migrate to src layout, add workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-docs-action.yml
  .github/workflows/deploy-package-action.yml
  .github/workflows/docs-action.yml
  .github/workflows/get-changed-files.yml
  .github/workflows/package-action.yml
  .github/workflows/pr.yml
  .github/workflows/pre-commit-action.yml
  .github/workflows/tag.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  CHANGELOG.rst
  changelog/.gitkeep
  changelog/1.fixed.md
  docs/changelog.rst
  docs/history.rst
  docs/index.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/dooti/__init__.py
  src/dooti/cli.py
  src/dooti/dooti.py
Due: pylint, rstcheck

Fix docs build
  README.rst
  docs/conf.py
Due: rstcheck

Actually skip requirements install in docs job
  .github/workflows/docs-action.yml
  noxfile.py
Due: pylint

Add basic test suite
  .github/workflows/ci.yml
  .github/workflows/test-action.yml
  .gitignore
  noxfile.py
  pyproject.toml
  src/dooti/dooti.py
  tests/functional/test_dooti.py
  tests/helpers.py
Due: pylint

Run only necessary jobs in PR CI
  .github/workflows/ci.yml
  .github/workflows/get-changed-files.yml
Due: none

Cleanup, pylint upgrade
  pyproject.toml
Due: none

Release v0.2.2
  CHANGELOG.rst
  changelog/1.fixed.md
Due: rstcheck

Fix docs deploy when tagging, render once on push
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Don't deploy docs on push anymore
  .github/workflows/pr.yml
Due: none

Remove keyword added by accident
  pyproject.toml
Due: none

Fix docs nox session and changelog
  CHANGELOG.rst
  noxfile.py
  pyproject.toml
Due: pylint, rstcheck

Allow triggering docs deploy manually
  .github/workflows/deploy-docs-action.yml
Due: none
